body {font-family: 'Times New Roman', Times, serif;
background-color: rgb(76, 73, 73);}
h1{font-size: 100px;}
h2{font-size: 50px;}
img{background-color: rgb(76, 73, 73);
max-width: 100%;}
.inspringing {margin-inline: 60px;}